body {
  background-color: #00061a;
  margin: 0;
  overflow: auto;
  position: relative; /* Sicherstellen, dass Canvas korrekt positioniert ist */
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Hinter den Inhalt legen */
}
